@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


body {
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 90px;
  margin: 0 auto;
}

header h1 {
  width: 168px;
  height: 33px;
}

header ul {
  width: 50%;
  margin-left: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

header li {
  font-weight: bold;
  font-size: 16px;
  width: 50px;

}

.page-top {
  margin: auto;
  width: 100%;
  height: 600px;
  object-fit: cover;
  /* 画面高さいっぱい */
}

.page-top p:first-of-type {
  font-size: 160px;

}

.page-top p:last-of-type {
  font-size: 24px;

}

.index .news {
  display: flex;
  width: 100%;
}

.index .news .title,
.index .list .title {
  width: 20%;
  text-align: center;
}

.index .news .title p,
.index .list p {
  color: red;
  font-weight: bold;
  font-size: 32px;
}

.index .news .content {
  width: 80%;
  text-align: left;
}

.index .news .content li {
  display: flex;
}

.index .news .content li p:first-of-type {
  width: 20%;
  text-align: center;
}

.index .news .content li p:last-of-type {
  width: 80%;
  text-align: left;
}

.index .list {
  width: 100%;
}

.index .list ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;
}

.index footer {
  display: flex;
  background-color: red;
}


.message .page_top {
  max-width: 1440px;
  width: 100%;
  height: 20vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.message .page_top p {
  font-weight: bold;
  font-size: 30px;
}

.message .title {
  margin: 0 auto;
  width: 850px;
  height: 120px;
  text-align: center;
}

.message .title p:first-of-type {
  font-size: 40px;
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 5%;
  color: #DD1B57;
  font-weight: bold;
}

.message .title p:last-of-type {
  font-size: 18px;
  line-height: 28.8px;
  letter-spacing: 5%;
}

.contents {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
}

.contents h1 {
  font-size: 40px;
  color: #DD1B57;
  font-weight: bold;
}

/* .message .spearch {
  max-width: 790px;
  margin: 123px auto 0;
}

.message .spearch img {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 25px;
  margin-bottom: 28px;
}


.message .spearch p {
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 5%;
}

.message .office {
  width: 1110px;
  height: 400px;
  margin: 46px auto 100px;
}

footer {
  max-width: 1440px;
  width: 100%;
  height: 158px;
  background-color: #DD1B57;
  margin: auto;
}

footer ul {
  display: flex;
  list-style: none;
  padding-left: 0;

}

footer li {
  margin-top: 60px;
  color: white;
}

footer li:first-of-type {
  margin-left: 165px;
}

footer li:not(:first-of-type) {
  margin-left: 30px;

} */